[submodule "Assignment - 1 - Database Design/Assignment-1-CP8210-Topics-in-Data-Science"]
	path = Assignment - 1 - Database Design/Assignment-1-CP8210-Topics-in-Data-Science
	url = git@github.com:viralbthakar/Assignment-1-CP8210-Topics-in-Data-Science.git
